.navbar{
  margin: 0;
  height: 80px;
  display: flex;
  justify-content:space-around;
  /* background-color: red; */
}


.shoppingImage img {
  width: 50px;
  color: var(--color-white);
}

.logo {
  width: 219px;
  height: 28px;
  font-family: 'Roboto';
  font-weight: 800;
  font-size: 32px;
  line-height: 38px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-white);
}


