.shoppingCart{
  border-radius: 5px;
}

.theadTitle{
  color: rgba(0, 0, 0, 0.517);
  font-weight: 800;
  font-size: 11px;
}

.tableCheckout{
  text-justify:distribute;
  flex-wrap: wrap;
  margin: auto;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 95%;
  height: 10px;
  /* padding: 10px; */
  border: 6px;
  background-color: var(--color-white);
  color: black;
  
}


.eachImageShopping {
  width: 100px;
  height: 100px;
}

.buttonRemove {
  cursor: pointer;
  background-color: rgba(255, 0, 0, 0.615);
  font-weight: 800;
  padding: 5px;
  border: none;
  border-radius: 5px;
}

.buttonCheckout{
  color: white;
  background-color: #F8375D;
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}


.totalPrice {
  display: flex;
  justify-content: end;
  flex-direction: row-reverse;
  justify-content: space-around;
  background-color: var(--color-white);
  width: 95%;
  margin: auto;
  border-end-end-radius: 5px;
  border-bottom-left-radius: 5px;
  color: var(--color-black);
  font-weight: 700;
  font-size: 20px;
}